/* Installing free, open source 'Inter' font per https://github.com/rsms/inter */

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* Including CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Adding some spacing between h1, h2, p, etc. elements */
h1, h2, h3, p {
    margin-bottom: 20px;
}

body {
    width: 100%;
    height: 100%;
    padding: 20px;
    /* Default font specs and background */
    background-color: #282a36;
    color: #f8f8f2;
    text-align: center;
    /* Adds display type flex / flexbox */
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Contact */
section {
    padding: 20px;
    /* margin: 50px; */
    /* vertical-align: middle; */
}

/* Link Behaviour */
a {
    color: #50fa7b;
    text-decoration: none;
}

a:hover {
    color: #f1fa8c;
  }

/* Top Navbar */
.topnav {
    padding: 20px;
    overflow: hidden;
}

.topnav a {
    padding: 14px 16px
}

header {
    color: #bd93f9;
    padding:20px;
}

h1 {
    color: #bd93f9;
}

/* Bottom Navbar */
.botnav {
    padding: 20px;
    overflow: hidden;
}

.botnav a {
    padding: 14px 16px
}

/* Footer / Copyright */
footer {
    text-align: center;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

/* Blog Page */

.blog {
    padding: 10px;
    margin: 10px;
    position: relative; /* In order to achieve the overlay/fade effect, need this to be positioned on top*/
}

.preview-text {
    position: relative; /* Required for the ::before pseudo-element */
    z-index: 1; /* Ensures that the text preview is on top */
}

.preview-text::before { /* ::before will add this pseudo content before the text for the effect */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, #282a36); /* Creates gradient / fading effect */
    pointer-events: none; /* Allows interaction with the underlying text, e.g. highlighting the text */
}