/* Installing free, open source 'Inter' font per https://github.com/rsms/inter */

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* Including CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Default background and font color */
    background: #282a36;
    color: #f8f8f2;
}

h1 {
    color: #bd93f9
}